<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,800,700" rel="stylesheet"> 
        <link rel="stylesheet" href="/static/main.css">
        <script src="/static/javascript/jquery-3.1.1.min.js"></script>
        <script src="/static/javascript/main.js"></script> 
        <script src="/static/javascript/bootstrap.min.js"></script> 
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://d3js.org/topojson.v1.min.js"></script>
        <script src="/static/javascript/d3-tip.js"></script> 
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>


    </head>
    
    <body class="fill">
        <!-- <img src"/static/media/nyc.jpg" style='height: 100%; width: 100%; object-fit: contain'/> -->

        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <!-- <p>Urban Sentiment</p>
            <p>Prajjalita Dey (pd292), Talha Baig (tmb276), Lylla Younes (ley23), Pihu Yadav (py82)</p> -->
        </div>

        {% block javascript %}  
            <script>

                currentCriteria = "All";

                $(document).ready(function(){
                    var showOutput = false, relevantDocs = [], irrelevantDocs = [];
                    $(".output").addClass("hidden");
                    $(".query-text").addClass("hidden");
                    $("#selectedPlace").addClass("hidden");
                    $(".placeInfo").addClass("hidden");
                    $(".back-to-search").addClass("hidden");
                    $(".user-query").addClass("hidden");
                    $(".back-to-search").on("click",function(){
                        var target = $(".splash");
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                    })
                    
                    $.ajax({
                        type: "GET",
                        url: "/",
                        contentType: "application/json",
                        dataType: "json",
                        data: {
                            search: "{{ search_params }}",
                        },
                        success: function(response) {

                            var resultsDict   = JSON.parse(response),
                                defaultOutput = resultsDict["neighborhood_ranking"]["all_criteria"],
                                currentOutput = resultsDict["neighborhood_ranking"]["all_criteria"],
                                queryText     = resultsDict["query"],
                                topDocuments  = resultsDict["document_ranking"],
                                topListings   = []

                            currentCriteria = queryText;

                            if(resultsDict["document_ranking"]) {
                                if(resultsDict["document_ranking"]["all_criteria"]) {
                                    topListings = resultsDict["document_ranking"]["all_criteria"];
                                }
                            }

                            if(queryText === ""){
                                $(".output").addClass("hidden");
                                $(".query-text").addClass("hidden");
                                $(".user-query").addClass("hidden");
                            } else {
                                $(".output").removeClass("hidden");
                                $(".query-text").removeClass("hidden");
                                $(".user-query").removeClass("hidden");
                                $(".back-to-search").removeClass("hidden");
                                var target = $(".output-container");

                                $('html,body').animate({
                                  scrollTop: target.offset().top
                                }, 1000);

                                d3.json("/static/map_data/neighbourhoods.json",function(data){
                                    drawMap(data,currentOutput);

                                    outputObjects = [];
                                    for (let arr of defaultOutput) {
                                        outputObjects.push({"neighborhood":arr[0],"score":arr[1]})
                                    }
                                    drawBarChart(outputObjects);
                                })
                            }

                            // CRITERIA BUTTON UI 
                            var queryCriteria = queryText.split(",")
                                queryCriteria.push("All")
                            for (let criteria of queryCriteria) {
                                var spliced = (criteria.trim()).replace(/ /g, "-");
                                $(".user-query").append("<span class='criteria' id='" + spliced +"'>" + criteria + "</span>");    
                            }

                            queryText = queryText.trim();
                            // TOP LISTINGS UI

                            var queryWords = queryText.replace(/,/g , " ");
                                queryWords = queryWords.split(" ")

                            var k = 0;
                            for (let listingArray of topListings) {
                                listingText = listingArray[4];
                                reviewBuffer = "";
                                words = listingText.split(" ");
                                for (let word of words) {
                                    if(queryWords.contains(word)) {
                                        reviewBuffer = reviewBuffer + " <span class='queryWord' style='padding:5px;background-color:#efe40e'>" + word + "</span> ";
                                    } else {
                                        reviewBuffer = reviewBuffer + " " + word;
                                    }
                                }

                                $(".checkboxes").append("<div class='checkbox'><label><input type='checkbox' class='roccioCheck' name='listing" + k + "' value=''> <span id='doc" + k + "'></span> </label></div> <br> <hr>")

                                $("#doc"+k).append(reviewBuffer);

                                k++;

                            }

                            // reviewBuffer = "";
                            // words = bestReview["entry"].split(" ");
                            // for (let word of words) {
                            //     if(queryWords.contains(word)) {
                            //         reviewBuffer = reviewBuffer + " <span class='queryWord' style='background-color:#efe40e'>" + word + "</span> ";
                            //     } else {
                            //         reviewBuffer = reviewBuffer + " " + word;
                            //     }
                            // }

                            // HIGHTLIGHT DEFAULT CRITERIA
                            $("span.criteria#All").addClass("selected");

                            $(".roccioCheck").on("click", function(e){
                                relevantDocs.push(topListings[(e.target.name).slice(-1)][2]);
                                console.log(relevantDocs)
                            });

                            // HANDLE CRITERIA CLICK
                            $(".criteria").on("click", function(e){

                                $(".criteria").removeClass("selected");
                                e.preventDefault();
                                $(this).addClass("selected");
                                $(".search-results").empty();
                                $("#map").empty();

                                var chosenCriteria = ($(this).text()).trim();

                                currentCriteria = chosenCriteria

                                var outputList = resultsDict[chosenCriteria]
                                 currentOutput = outputList

                                criteria = ($(this).text()).trim()
                                if(criteria === "All") {
                                    currentOutput = resultsDict["neighborhood_ranking"]["all_criteria"];
                                } else {
                                    currentOutput = resultsDict["neighborhood_ranking"][criteria];
                                }
                                

                            
                                d3.json("/static/map_data/neighbourhoods.json",function(data){
                                    drawMap(data,currentOutput);
                                    redrawBars(currentOutput, false);
                                });

                            });

                            $("#requery-btn").on("click", function() {

                                $("#requery-btn").css("background-color","#ddd")
                                $("#requery-btn:hover").css("background-color","#ddd")

                                $(".requery-blurb").empty();
                                $(".requery-blurb").append("Loading...");
                                $(".checkboxes").empty();

                                feedback = {"relevant":[],"irrelevant":[],"query":currentCriteria};

                                if(topListings.length > 0) {

                                for (var i = 0 ; i < 10 ; i++) {
                                    var listingNumber = i,
                                        listingText = topListings[i],
                                        radioVal = $('input[name=listing' + listingNumber + ']:checked').val()

                                        console.log("RADIOVAL",radioVal)

                                    if(listingText) {
                                        if(radioVal) {
                                            feedback["relevant"].push(listingText[2]);
                                        } else {
                                            feedback["irrelevant"].push(listingText[2]);
                                        }

                                    }

                                    console.log("REL: ",feedback.relevant)
                                    console.log("IRL: ",feedback.irrelevant)
                                }

                                feedback["relevant"] = relevantDocs;

                                irrelevantDocs = feedback["irrelevant"];

                                var tmp = []
                                for (let doc of irrelevantDocs) {
                                    if(!contains(relevantDocs, doc)) {
                                        tmp.push(doc)
                                    }
                                }
                                irrelevantDocs = tmp

                                feedback["irrelevant"] = irrelevantDocs;

                                feedback = JSON.stringify(feedback)

                                $.ajax({
                                    type: "GET",
                                    url: "/",
                                    contentType: "application/json",
                                    dataType: "json",
                                    data: {
                                        search: "{{ search_params }}",
                                        extra: feedback
                                    },
                                    success: function(response) {
                                        console.log("success");

                                        resultsDict   = JSON.parse(response),
                                        defaultOutput = resultsDict["neighborhood_ranking"],
                                        currentOutput = resultsDict["neighborhood_ranking"]["all_criteria"],
                                        queryText     = resultsDict["query"],
                                        topListings   = resultsDict["document_ranking"]["all_criteria"]

                                        currentCriteria = queryText;
                                        $(".search-results").empty();
                                        $("#map").empty();

                                    
                                        redrawBars(currentOutput, true);

                                        $(".requery-blurb").empty();
                                        $(".requery-blurb").append("Thanks for your input! You'll see the new results represented in the visualizations above and the top ranked reviews below.");

                                        console.log("TOP: ",topListings);

                                        queryText = queryText.trim();
                                        
                                        // TOP LISTINGS UI

                                        var queryWords = queryText.replace(/,/g , " ");
                                            queryWords = queryWords.split(" ")

                                        var k = 0;
                                        for (let listingArray of topListings) {
                                            listingText = listingArray[4];
                                            reviewBuffer = "";
                                            words = listingText.split(" ");
                                            for (let word of words) {
                                                if(queryWords.contains(word)) {
                                                    reviewBuffer = reviewBuffer + " <span class='queryWord' style='padding:5px;background-color:#efe40e'>" + word + "</span> ";
                                                } else {
                                                    reviewBuffer = reviewBuffer + " " + word;
                                                }
                                            }

                                            $(".checkboxes").append("<div class='checkbox'><label><input type='checkbox' name='listing" + k + "' value=''> <span id='doc" + k + "'></span> </label></div> <br> <hr>")

                                            $("#doc"+k).append(reviewBuffer);

                                            k++;

                                        }














                                    },

                                    error: function(response) {
                                        console.log("error");
                                    }

                                });

                                }


                            })


                            // REDRAW BAR GRAPH
                            function redrawBars(currentOutput, requerySystem) {

                                $(".search-results").empty();

                                outputObjects = [];
                                for (let arr of currentOutput) {
                                    outputObjects.push({"neighborhood":arr[0],"score":arr[1]})
                                }
                                drawBarChart(outputObjects);

                                if(requerySystem) {
                                    d3.json("/static/map_data/neighbourhoods.json",function(data){
                                        drawMap(data,currentOutput);
                                    });
                                }

                            }

                            // INITIALIZE BAR CHART
                            function drawBarChart(ranking) {

                                var data = []; 

                                for(var i = 0 ; i < ranking.length ; i++) {
                                    if(ranking[i].score > 0.00 && data.length < 10) {
                                        data.push(ranking[i])
                                    }
                                }

                                var margin = {top: 20, right: 20, bottom: 30, left: 10},
                                width = 500 - margin.left - margin.right,
                                height = 300 - margin.top - margin.bottom;

                                var y = d3.scaleBand()
                                    .range([height, 0])
                                    .padding(0.1);

                                var x = d3.scaleLinear()
                                    .range([0, width]);
                                      
                                var svg = d3.select(".search-results").append("svg")
                                    .attr("width", width + margin.left + margin.right)
                                    .attr("height", height + margin.top + margin.bottom)
                                    .append("g")
                                    .attr("transform", 
                                      "translate(" + margin.left + "," + margin.top + ")");

                                var tooltip = d3.select("body")
                                    .append("div")
                                    .attr("class","tooltip")
                                    .style("position", "absolute")
                                    .style("z-index", "10")
                                    .style("visibility", "hidden")
                                    .style("color", "white")
                                    .style("padding", "8px")
                                    .style("background-color", "rgba(0, 0, 0, 0.75)")
                                    .style("border-radius", "6px")
                                    .style("font", "12px sans-serif")
                                    .text("tooltip");

                                data.forEach(function(d) {
                                    d.score = +d.score;
                                });

                                x.domain([ d3.min(data, function(d){ return d.score; }) , d3.max(data, function(d){ return d.score; })])
                                y.domain(data.map(function(d) { return d.neighborhood; }));

                                var bars = svg.selectAll(".bar")
                                    .data(data)
                                    .enter()
                                    .append("g")

                                bars.append("rect")
                                    .attr("class", "bar")
                                    .attr("width", function(d) {return x(d.score); } )
                                    .attr("x", 0)
                                    .attr("y", function(d) { return y(d.neighborhood); })
                                    .attr("height", y.bandwidth())
                                    .style("cursor","pointer")
                                    .style("fill","#A9A9A9")
                                    .on("mouseover", function(d) {
                                        tooltip.text(d.score + " Articles");
                                        tooltip.style("visibility", "visible");
                                    })
                                    .on("mousemove", function() {
                                        return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
                                    })
                                    .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
                                
                                // add the x Axis
                                svg.append("g")
                                    .attr("transform", "translate(0," + height + ")")
                                    .call(d3.axisBottom(x).ticks(5));

                                //add a value label to the right of each bar
                                bars.append("text")
                                    .attr("id","list-text")
                                    .attr("class", "label")
                                    .attr("y", function (d) {
                                        return y.bandwidth()/2 + y(d.neighborhood) ;
                                    })
                                    .attr("x", function (d) { return  3; })
                                    .attr("dy", ".3em") 
                                    .attr("text-anchor", "start")
                                    .text(function (d) { return d.neighborhood; });

                            }

                        },

                        error: function(response) {
                            console.log("error");
                        }
                    });
                });

                function drawMap(ny, output) {

                    var neighborhoods = [], outputDict = {};
                    var colors = ['#fff7ec','#fee8c8','#fdd49e','#fdbb84','#fc8d59','#ef6548','#d7301f','#b30000','#7f0000'];

                    for (let obj of output) {
                        var neighborhood = obj[0], score = obj[1];
                        outputDict[neighborhood.toLowerCase()] = score;
                    }

                    var tip = d3.tip()
                        .attr('class', 'd3-tip')
                        .offset([-10, 0])
                        .html(function(d) {
                            score = outputDict[(d.properties.neighbourhood).toLowerCase()]
                            if(score){
                                return "<span class='details'>" + d.properties.neighbourhood + "</span> <br>" +  score.toFixedDown(5);
                            } else {
                                return "<span class='details'>" + d.properties.neighbourhood + "</span> <br> 0.000";
                            }
                        })

                    var margin = {top: 5, right: 5, bottom: 5, left: 5};
                    var width = 550 - margin.left - margin.right,
                        height = 400 - margin.top - margin.bottom;

                    var nyfeatures = topojson.feature(ny,ny.objects.neighbourhoods),
                        max_area   = d3.max( nyfeatures, function(d) { 
                            return d.properties.neighbourhood });

                    var svg = d3.select("#map")
                        .append("svg")
                          .attr("class", "map")
                          .attr("width", width + margin.left + margin.right)
                          .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    var path = d3.geoPath()
                        .projection(d3.geoAlbersUsa()
                        .fitSize([width-margin.top, height-margin.top], nyfeatures));

                    svg.append("text")
                        .attr("x",55)
                        .attr("y",150)
                        .attr("font-size","11px")
                        .text("Click area for more info.")

                    var minX = 0.0;

                    for (let val of Object.values(outputDict)) {
                        if(val < minX) minX = val
                    }

                    var color = d3.scaleQuantize()
                            .domain([minX, Object.values(outputDict)[0]])
                            .range(colors);

                    svg.call(tip);

                    var nyPaths = svg.selectAll(".ny-neighborhoods")
                        .data(nyfeatures.features)
                        .enter().append("path")
                            .attr("class", "ny-neighborhoods")
                            .attr("class","map-neighborhood")
                            .attr("id", function(d) { return (d.properties.neighbourhood).toLowerCase(); })
                            .attr("d", function(d) { 
                                // neighborhoods.push(d.properties.NTAName);
                                return path(d); 
                                })
                            .style("fill", function(d) {
                                if(outputDict[(d.properties.neighbourhood).toLowerCase()]) {
                                    return color(outputDict[(d.properties.neighbourhood).toLowerCase()]);
                                } else {
                                    return "#ddd";
                                }
                            })
                            .on('mouseover',function(d){
                              tip.show(d);
                              d3.select(this)
                                .style("stroke-width",1)
                                .style("opacity","0.5")
                            })
                            .on('mouseout', function(d){
                              tip.hide(d);
                              d3.select(this)
                                .style("stroke-width",0.3)
                                .style("opacity","1");
                            })
                            .on("click", function(d) {
                                $(".placeInfo").empty();

                                d3.selectAll(".text").remove();

                                var place = (d.properties.neighbourhood).toLowerCase();

                                var feedback = currentCriteria+"//name//"+place;

                                $(".placeInfo").removeClass("hidden");

                                $("#selectedPlace").append("<h3>" + (d.properties.neighbourhood) + "</h3>")

                                svg.append("text")
                                    .attr("class","text")
                                    .attr("x",55)
                                    .attr("y",100)
                                    .attr("font-size","20px")
                                    .text(d.properties.neighbourhood)

                                

                                $.ajax({
                                    type: "GET",
                                    url: "/",
                                    contentType: "application/json",
                                    dataType: "json",
                                    data: {
                                        search: "{{ search_params }}",
                                        extra: feedback
                                    },
                                    success: function(response) {
                                        //console.log(response);
                                        console.log("map success");
                                        response = JSON.parse(response);
                                        var i = 1;
                                        for (let entry of response) {
                                            $(".placeInfo").append("<h3>Review " + i + ", Score: " + (entry[1]).toFixedDown(5) + "<h3> <p>" + entry[2] + " </p><hr>")
                                            i++;
                                        }

                                    },

                                    error: function(response) {
                                        console.log("error");
                                    }

                                });

                            })

                }


                Number.prototype.toFixedDown = function(digits) {
                    var re = new RegExp("(\\d+\\.\\d{" + digits + "})(\\d)"),
                        m = this.toString().match(re);
                    return m ? parseFloat(m[1]) : this.valueOf();
                };

                Array.prototype.contains = function(obj) {
                    var i = this.length;
                    while (i--) {
                        if (this[i] == obj) {
                            return true;
                        }
                    }
                    return false;
                }
            
            </script>

        {% endblock %}

        {% block content %}
        
                <div class="col-md-12 splash">
        
            <form class="form-inline global-search col-md-12" method='GET' data-url="{% url 'index' %}">
                <h1> CribHub. </h1><br>
                <div class="blurb">
                    <p>Query by city and what you desire in a neighborhood. Separate criteria by commas. <br> 
                    Example: "young professionals, affordable, bars nearby"</p>
                </div>
                
                <br><br>
                
                <div class="form-group">
                    <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                </div>
                <button id="query-btn" type="submit" class="btn btn-info"> Go </button>

            </form>

        {% endblock %}


    </div>

    <div class="col-md-12 output-container">

        <div class="output-content col-md-12">

            <!-- HEADER BUTTONS -->

            <div class="col-md-12">
                <div class="col-md-10 query-text"> Find Results For: </div> 
                <div class="col-md-2 back-to-search"> Back To Search </div> 
            </div>

            <!-- USER QUERY CRITERIA -->

            <div class="col-md-12 query-button-container">
                <div class="col-md-12 user-query"></div> 
            </div>

            <!-- RIGHT SIDE -->

            <div class="col-md-6">

                <!-- BAR CHART -->

                <div class="search-results"></div>

                <!-- RE-QUERY FORM -->

                <div class="requery-blurb col-md-12" style="margin-top:5%;margin-bottom:3%;">
                    Help us make our recommendation system better! Below we provide a list of documents that were 
                    deemed most relevant to your query by our system. Place a check next to the documents that you
                    think are relevant and leaves the others empty. Then press the Go button to send modify your query.
                </div>
                
                <div class="requery">

                    <form class="form-inline requery-search" id="updateProfile">

                        <fieldset class="checkboxes"></fieldset>

                    </form>



                    <div class="col-md-12">
                        <div id="requery-btn" >Go</div>
                    </div>


                </div> 


            </div>

            <!-- LEFT SIDE OF PAGE -->

            <div class="col-md-6">
                
                <div id="map" style="margin-top:-5%; "></div>
                <div class="placeInfo col-md-12" style="border:solid 1px #ddd; height:300px; margin-top:-16.5%; overflow-y:scroll; font-size:14px !important; ">

                </div>
                <!-- <div class="placeInfo col-md-2"></div> -->
            </div>

            
 

           


        </div>

    </div>


        <!-- <div id="map" class="col-md-5" style="margin-top:-15%"></div> -->
        
        
        
        
    </body>
</html>







