<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,800,700" rel="stylesheet"> 
        <link rel="stylesheet" href="/static/main.css">
        <script src="/static/javascript/jquery-3.1.1.min.js"></script>
        <script src="/static/javascript/main.js"></script> 
    </head>
    
    <body class="fill">
        <!-- <img src"/static/media/nyc.jpg" style='height: 100%; width: 100%; object-fit: contain'/> -->

        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <!-- <p>Urban Sentiment</p>
            <p>Prajjalita Dey (pd292), Talha Baig (tmb276), Lylla Younes (ley23), Pihu Yadav (py82)</p> -->
        </div>

        {% block javascript %}  
            <script>
                $(document).ready(function(){
                    $("#query-btn").on("click",function() {
                        var val = $(this).val();
                        var form = $(this).closest("form");
                    });
                });

                $.ajax({
                    type: "GET",
                    url: "/",
                    contentType: "application/json",
                    dataType: "json",
                    data: {
                        search: "{{ search_params }}",
                    },
                    success: function(response) {
                        console.log(response);
                        for (let obj of response) {
                            $(".output").append("<p>" + String(obj) + "</p>")
                        }
                        

                    },
                    error: function(response) {
                        console.log("error");
                    }
                });
            </script>
        {% endblock %}

        {% block content %}
        
            <form class="form-inline global-search" method='GET' data-url="{% url 'index' %}">
                <h1> Find Your Home. </h1><br>
                <div class="blurb">
                    <p>Separate criteria by commas. Query by city and what you desire in a neighborhood. <br> 
                    Example: "New York, young professionals, affordable, bars nearby"</p>
                </div>
                
                <br><br>
                
                <div class="form-group">
                    <input id="input" type="text" class="form-control" placeholder="Your Input">
                </div>
                <button id="query-btn" type="submit" class="btn btn-info"> Go </button>
            </form>

        {% endblock %}

        <div class="output">
            
        </div>
        
        
        
    </body>
</html>
