<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,800,700" rel="stylesheet"> 
        <link rel="stylesheet" href="/static/main.css">
        <script src="/static/javascript/jquery-3.1.1.min.js"></script>
        <script src="/static/javascript/main.js"></script> 
        <script src="/static/javascript/bootstrap.min.js"></script> 
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://d3js.org/topojson.v1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>


    </head>
    
    <body class="fill">
        <!-- <img src"/static/media/nyc.jpg" style='height: 100%; width: 100%; object-fit: contain'/> -->

        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <!-- <p>Urban Sentiment</p>
            <p>Prajjalita Dey (pd292), Talha Baig (tmb276), Lylla Younes (ley23), Pihu Yadav (py82)</p> -->
        </div>

        {% block javascript %}  
            <script>
                $(document).ready(function(){
                    var showOutput = false;
                    $(".output").addClass("hidden");
                    $("#query-btn").on("click",function() {
                        var val = $(this).val();
                    });
                    
                    $.ajax({
                        type: "GET",
                        url: "/",
                        contentType: "application/json",
                        dataType: "json",
                        data: {
                            search: "{{ search_params }}",
                        },
                        success: function(response) {


                            var resultsDict   = JSON.parse(response),
                                defaultOutput = resultsDict["All"],
                                queryText     = resultsDict["QUERY"][0]

                            console.log(resultsDict);

                            if(queryText === ""){
                                $(".output").addClass("hidden");
                                $(".query-text").addClass("hidden");
                                $(".user-query").addClass("hidden");
                            } else {
                                $(".output").removeClass("hidden");
                                $(".query-text").removeClass("hidden");
                                $(".user-query").removeClass("hidden");
                            }

                            /* Button UI */
                            var queryCriteria = queryText.split(",")
                                queryCriteria.push("All")
                            for (let criteria of queryCriteria) {
                                var spliced = (criteria.trim()).replace(/ /g, "-");
                                $(".user-query").append("<span class='criteria' id='" + spliced +"'>" + criteria + "</span>");    
                            }

                            $("span.criteria#All").addClass("selected");

                            $(".criteria").on("click", function(e){
                                $(".criteria").removeClass("selected");
                                e.preventDefault();
                                $(this).addClass("selected");
                                $(".search-results").empty();

                                var chosenCriteria = ($(this).text()).trim();
                                var outputList = resultsDict[chosenCriteria]
                                for (var i = 1 ; i < 10 ; i++) {
                                    var obj = outputList[i];
                                    $(".search-results").append("<p>" + i + ". <span class='neighborhood-name'>" + obj[0] + "</span>, " + Number((parseFloat(obj[1])).toFixed(4)) +"</p>"); 
                                }
                            });

                            /* Append output to div. */
                            for (var i = 1 ; i < 10 ; i++) {
                                var obj = defaultOutput[i];
                                $(".search-results").append("<p>" + i + ". <span class='neighborhood-name'>" + obj[0] + "</span>, " + Number((parseFloat(obj[1])).toFixed(4)) +"</p>"); 
                            }

                            // d3.json("/static/map_data/newyork.json",function(data){
                            //     drawMap(response,data);
                            // })

                        },

                        error: function(response) {
                            console.log("error");
                        }
                    });
                });

                function drawMap(data,ny) {
                    var neighborhoods = [];

                    var margin = {top: 5, right: 5, bottom: 5, left: 5};
                    var width = 600 - margin.left - margin.right,
                        height = 500 - margin.top - margin.bottom;

                    var nyfeatures = topojson.feature(ny,ny.objects.nyc)
                    var svg = d3.select("#map")
                        .append("svg")
                          .attr("class", "map")
                          .attr("width", width + margin.left + margin.right)
                          .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                    var path = d3.geoPath()
                        .projection(d3.geoAlbersUsa()
                        .fitSize([width-margin.top, height-margin.top], nyfeatures));
                    var nyPaths = svg.selectAll(".ny-neighborhoods")
                        .data(nyfeatures.features)
                        .enter().append("path")
                            .attr("class", "ny-neighborhoods")
                            .attr("d", function(d) { 
                                neighborhoods.push(d.properties.NTAName);
                                return path(d); 
                                })
                            .style("fill","white")

                }

            
            </script>
        {% endblock %}

        {% block content %}
        
            <form class="form-inline global-search col-md-12" method='GET' data-url="{% url 'index' %}">
                <h1> CribHub. </h1><br>
                <div class="blurb">
                    <p>Query by city and what you desire in a neighborhood. Separate criteria by commas. <br> 
                    Example: "New York, young professionals, affordable, bars nearby"</p>
                </div>
                
                <br><br>
                
                <div class="form-group">
                    <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                </div>
                <button id="query-btn" type="submit" class="btn btn-info"> Go </button>

            </form>

        {% endblock %}


        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 query-text"> Find Results For: </div> 
            <div class="col-md-3"></div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 user-query"></div> 
            <div class="col-md-3"></div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="output hidden col-md-6">
                <div class="search-results"></div>
            </div> 
            <div class="col-md-3"></div>
        </div>



        <!-- <div id="map" class="col-md-5" style="margin-top:-15%"></div> -->
        
        
        
        
    </body>
</html>







